<div class="alert alert-error" ng-show="error">
    {{errorMessage}}
</div>

<form class="form-horizontal">

    <div class="control-group">
        <label class="control-label" for="inputName">Book Name</label>

        <div class="controls">
            <input type="text" id="inputName" ng-model="book.name" placeholder="Book Name" required min="2">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputAuhor">Author Name</label>

        <div class="controls">

            <input class="span3" type="text" id="inputAuhor" ng-model="book.author" placeholder="Author Name" required
                   min="1">
        </div>
    </div>
    <div class="control-group">
        <hr/>
        <div class="controls">
            <button type="button" class="btn btn-primary" ng-hide="editMode"
                    ng-click="createBook(book)">Create Book
            </button>
            <button type="button" class="btn btn-primary" ng-show="editMode"
                    ng-click="updateBook(book)">Update Book
            </button>
            <button type="button" class="btn" ng-click="resetBookForm()">Reset</button>
        </div>
    </div>
</form>
<hr/>
<h3>Book List</h3>
<div class="alert alert-info" ng-show="bookList.length == 0">
    No book found
</div>
<table class="table table-bordered table-striped" ng-show="bookList.length > 0">
    <thead>
    <tr>
        <th style="text-align: center; width: 25px;">id</th>
        <th style="text-align: center;">Book Name</th>
        <th style="...">Author</th>
        <th style="text-align: center;">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="book in bookList | orderBy:predicate">
        <td style="text-align: center;">{{book.id}}</td>
        <td>{{book.name}}</td>
        <td>{{book.author}}</td>
        <td style="width:100px;text-align: center;">
            <button class="btn btn-mini btn-danger" ng-click="deleteBook(book.id)">Remove</button>
            <button class="btn btn-mini btn-success" ng-click="editBook(book)">Edit</button>
        </td>
    </tr>
    </tbody>
</table>
<button class="btn btn-danger" ng-show="bookList.length > 1" ng-click="deleteAllBook()">Delete All Book</button>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title" id="myModalLabel">Confirm Action</h4>
            </div>
            <div class="modal-body">
                Are you sure to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-ng-click="delete()">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="userModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title" id="myModalLabel" ng-hide="editMode">Add User</h4>
                <h4 class="modal-title" id="myModalLabel" ng-show="editMode">Edit User</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="adduserform">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" data-ng-model="user.Name" class="form-control" id="title" placeholder="Your Name" required title="Enter your name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Address</label>
                        <div class="col-sm-10">
                            <input type="text" data-ng-model="user.Address" class="form-control" id="title" placeholder="Your Address" required title="Enter your address" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">ContactNo</label>
                        <div class="col-sm-10">
                            <input type="text" data-ng-model="user.ContactNo" class="form-control" id="title" placeholder="Your ContactNo" required title="Enter your contactno" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                                        <span data-ng-hide="editMode">
                                            <input type="submit" value="Add" ng-disabled="adduserform.$invalid" data-ng-click="add()" class="btn btn-primary" />
                                        </span>
                                        <span data-ng-show="editMode">
                                            <input type="submit" value="Update" ng-disabled="adduserform.$invalid" data-ng-click="update()" class="btn btn-primary" />
                                        </span>
                            <input type="button" value="Cancel" data-ng-click="cancel()" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>